.container{
                display: flex;
                height: 600px;
                width: 1000px;
                border: 2px  black solid ;
                background-color: aqua;
                flex-direction: row;
                justify-content: space-evenly;
            }
