<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <style>
        p{
            color:blue;
        }
     </style>
    <style>
        h1{
            color: green;
        }
    </style>
    <style>
       h2{
        color:aqua;
       }
    </style>
    <style>
        .par{
            color:coral;
        }
    </style>
</body>
</html>