
       .container {
        display: grid;
        height:500px;
        width: 1000px;
        border: 2px solid black;
        background-color: aqua;
        grid-template-columns: repeat(4,100px);
        grid-template-rows: repeat(3,100px);
        /* grid-template-areas: "header header header header"
                             "main main . sidebar"
                             "footer footer footer footer"; */
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
        place-items: center;  
        justify-content:center;
        align-content: center; 
        grid-auto-columns: 60px;
        grid-auto-flow:  row;
       }
        .item {
            width: 100px;
            height: 100px;
            background-color: brown;
            border: 1px solid black;
            text-align: center;
            align-content: center;
            color: white;
            
        }  
         .item1 {
            /* grid-area: header; */
            justify-self: stretch ;
        }    
        /* .item2 {
            grid-area: main;
        }
        .item3 {
            grid-area: sidebar;
        } 
        .item4 {
            grid-area: footer;
        } */ 
